<h1>Arzt hinzufügen</h1>

<form class="add-doctor-form" (ngSubmit)="save(doctorForm)" #doctorForm="ngForm">
  <mat-dialog-content>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Vorname</mat-label>
        <input [(ngModel)]="doctor.first_name" matInput placeholder="Vorname" name="first_name" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nachname</mat-label>
        <input [(ngModel)]="doctor.last_name" matInput placeholder="Nachname" name="last_name" required>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Titel</mat-label>
        <input [(ngModel)]="doctor.title" matInput placeholder="z. B. Dr. Univ. Med." name="title" required>
      </mat-form-field>
      <mat-form-field class="example-chip-list" appearance="outline" required>
        <mat-label>Spezialisierungen</mat-label>
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip *ngFor="let speciality of doctor.specialities"
            (removed)="removeAndAddToAutocomplete(doctor.specialities, speciality)">
            {{ speciality }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input placeholder="weitere Spezialisierung..." #specialityInput [formControl]="specialityCtrl"
            [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let speciality of allSpecialities" [value]="speciality">
            {{ speciality }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Straße + Hausnummer</mat-label>
        <input [(ngModel)]="doctor.street" matInput placeholder="Musterstraße 25" name="street" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Land</mat-label>
        <input [(ngModel)]="doctor.country" matInput placeholder="Deutschland, Österreich, Italien, Schweiz, ..." name="country" required>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Postleitzahl</mat-label>
        <input type="number" [(ngModel)]="doctor.zipcode" matInput #zipcode maxlength="5" placeholder="z. B. 94105"
          value="" name="zipcode" required>
        <mat-hint align="end">{{ zipcode.value.length }} / 5</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Ort</mat-label>
        <input [(ngModel)]="doctor.city" matInput placeholder="Musterstadt" name="city" required>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <h1>Öffnungszeiten</h1>
    <div class="openings-container">
      <div class="openings-row">
        <span>Montag</span>
        <mat-form-field appearance="outline">
          <mat-label>von - bis</mat-label>
          <input [(ngModel)]="doctor.opening_hours.monday" matInput placeholder="08:00 bis 16:00" name="opening_hours"
            required>
        </mat-form-field>
      </div>
      <div class="openings-row">
        <span>Dienstag</span>
        <mat-form-field appearance="outline">
          <mat-label>von - bis</mat-label>
          <input [(ngModel)]="doctor.opening_hours.tuesday" matInput placeholder="08:00 bis 16:00" name="opening_hours"
            required>
        </mat-form-field>
      </div>
      <div class="openings-row">
        <span>Mittwoch</span>
        <mat-form-field appearance="outline">
          <mat-label>von - bis</mat-label>
          <input [(ngModel)]="doctor.opening_hours.wednesday" matInput placeholder="08:00 bis 16:00"
            name="opening_hours_wednesday" required>
        </mat-form-field>
      </div>
      <div class="openings-row">
        <span>Donnerstag</span>
        <mat-form-field appearance="outline">
          <mat-label>von - bis</mat-label>
          <input [(ngModel)]="doctor.opening_hours.thursday" matInput placeholder="08:00 bis 16:00"
            name="opening_hours_thursday" required>
        </mat-form-field>
      </div>
      <div class="openings-row">
        <span>Freitag</span>
        <mat-form-field appearance="outline">
          <mat-label>von - bis</mat-label>
          <input [(ngModel)]="doctor.opening_hours.friday" matInput placeholder="08:00 bis 16:00"
            name="opening_hours_friday" required>
        </mat-form-field>
      </div>
      <div class="openings-row">
        <span>Samstag</span>
        <mat-form-field appearance="outline">
          <mat-label>von - bis</mat-label>
          <input [(ngModel)]="doctor.opening_hours.saturday" matInput placeholder="geschlossen"
            name="opening_hours_saturday" required>
        </mat-form-field>
      </div>
      <div class="openings-row">
        <span>Sonntag</span>
        <mat-form-field appearance="outline">
          <mat-label>von - bis</mat-label>
          <input [(ngModel)]="doctor.opening_hours.sunday" matInput placeholder="geschlossen"
            name="opening_hours_sunday" required>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button [disabled]="isLoading" mat-raised-button (click)="onNoClick()">abbrechen</button>
    <button [disabled]="isLoading" mat-raised-button color="primary" cdkFocusInitial (click)="isSaveClicked = true">
      <mat-icon>save</mat-icon>
      speichern
    </button>
  </div>
</form>

