.row {
  display: flex;
  gap: 24px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.full-width {
  width: 100%;
}

mat-divider {
  margin: 12px 0px 24px 0px;
}

.openings-container {
  width: 70%;
}

.openings-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
