footer {
  background-color: #F0F2F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 0px;
  gap: 24px;
  color: var(--font-light-grey);
}

footer a {
  color: var(--font-light-grey);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.footer-links-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
