:host {
  display: flex;
  max-width: 100%;
}

.table-image-container {
  display: flex;
  max-width: 100%;
}

.image-box {
  padding: 20px 0px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

img {
  box-sizing: content-box;
  width: calc(100% - 20px);
}

table {
  display: flex;
  flex-direction: column;

  tr {
    display: flex;
    justify-content: space-between;
    gap: 36px;
  }

  td:last-child {
    width: 120px;
    text-align: center;
  }
}

.greyrow {
  width: 300px;
  background-color: rgb(244, 244, 244);
  border-radius: 2px;
  margin-bottom: 10px;
  padding: 8px 10px 8px 15px;
}

.mobile-d-none {
  display: block;
}

@media(max-width: 600px) {
  .mobile-d-none {
    display: none;
  }
}

@media(max-width: 400px) {
  .mobile-d-none {
    display: none;
  }

  .greyrow {
    width: unset;
  }

  table tr {
    gap: 12px;
  }

}
