:host {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-spinner {
  margin: 50px;
}

.add-doctor-button {
  position: absolute;
  right: 25px;
  bottom: 25px;
}
