<mat-card>
  <img src="assets/{{ doctor['img'] }}" alt="doctor-portrait">
  <div class="center-content">
    <mat-card-title class="doctor-header">{{ doctor['title'] }} {{ doctor['first_name'] }} {{ doctor['last_name'] }}</mat-card-title>
    <mat-card-subtitle>
      <ng-container>
        {{ doctor['specialities'].join(', ') }}
      </ng-container>
    </mat-card-subtitle>
    <mat-card-content>
      <span>{{ doctor['street'] }}</span><br>
      <span>{{ doctor['zipcode'] }}, {{ doctor['city'] }}</span>
    </mat-card-content>
  </div>
  <db-opening-hours [doctor]="doctor"></db-opening-hours>
</mat-card>
