<mat-card>
  <img src="assets/{{ doctor['img'] }}" alt="">
  <div class="center-content">
    <mat-card-title class="doctor-header">{{ doctor['title'] }} {{ doctor['first_name'] }} {{ doctor['last_name'] }}</mat-card-title>
    <mat-card-subtitle>
      <ng-container>
        {{ doctor['specialities'].join(', ') }}
      </ng-container>
    </mat-card-subtitle>
    <mat-card-content>
      <span>{{ doctor['street'] }}</span><br>
      <span>{{ doctor['zipcode'] }}, {{ doctor['city'] }}</span>
    </mat-card-content>
  </div>
  <table>
    <mat-card-title>Öffnungszeiten</mat-card-title>
    <ng-container *ngFor="let weekday of weekdays; let i = index">
      <tr>
        <td>{{ weekdaysGerman[i] }}:</td>
        <td>{{ doctor['opening_hours'][weekday]}} <span *ngIf="doctor['opening_hours'][weekday].includes(':')">Uhr</span></td>
      </tr>
    </ng-container>
  </table>
</mat-card>
