<div class="global-content-width">
  <form>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Fachgebiet</mat-label>
      <input #inputSpeciality
             type="text"
             placeholder=""
             aria-label="Fachgebiet"
             matInput
             [formControl]="controlSpecialitiesInput"
             [matAutocomplete]="autoSpeciality"
             (click)="clickOnInput($event)">
      <button type='button' *ngIf="controlCityInput" matSuffix mat-icon-button aria-label="Clear" (click)="clearInput(inputSpeciality)">
        <mat-icon>close</mat-icon>
      </button>
      <mat-autocomplete #autoSpeciality="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptionsSpecialities  | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Ort</mat-label>
      <input #inputCity
             type="text"
             placeholder=""
             aria-label="Ort"
             matInput
             [formControl]="controlCityInput"
             [matAutocomplete]="autoCity"
             (click)="clickOnInput($event)">
      <button type='button' *ngIf="controlCityInput" matSuffix mat-icon-button aria-label="Clear" (click)="clearInput(inputCity)">
          <mat-icon>close</mat-icon>
      </button>
      <mat-autocomplete #autoCity="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptionsCitys  | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>


    <button type='button' mat-flat-button color="primary" (click)="searchDoctors()">
      <mat-icon aria-hidden="false" aria-label="search-icon">search</mat-icon>
      Suchen
    </button>

  </form>



</div>

