<form>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Fachgebiet</mat-label>
    <input type="text"
           placeholder=""
           aria-label="Fachgebiet"
           matInput
           [formControl]="controlSpecialitiesInput"
           [matAutocomplete]="autoSpeciality">
    <mat-autocomplete #autoSpeciality="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptionsSpecialities  | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Ort</mat-label>
    <input type="text"
           placeholder=""
           aria-label="Ort"
           matInput
           [formControl]="controlCityInput"
           [matAutocomplete]="autoCity">
    <mat-autocomplete #autoCity="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptionsCitys  | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>


  <button type='button' mat-flat-button color="primary" (click)="searchDoctors()">
    <mat-icon aria-hidden="false" aria-label="search-icon">search</mat-icon>
    Suchen
  </button>

</form>
