<main class="global-content-width">
  <a routerLink="/doc-list">
    <img src="assets/img/arrow-left.png" alt="">
    zurück zur Liste
  </a>
  <div class="doctor-all-infos" *ngIf="doctor">
    <img class="doctor-header" src="assets/img/doctor-header.jpg" alt="doctor-header-image">
    <div class="doctor-main-infos">
      <img src="assets/img/klara_weber.jpg" alt="doctor-portrait">
      <div>
        <h1>Dr. med Vorname Nachname</h1>
        <span>specialities</span>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="opening-hours-box">
      <db-opening-hours  [doctor]="doctor"></db-opening-hours>
      <span>Imagebild Öffnungszeiten</span>
    </div>
    <mat-divider></mat-divider>
    <div class="adress-box">
      <div>
        <h2>Adresse</h2>
        <span>street</span>
        <span>zipcode + city</span>
      </div>
      <div>
        https://stackoverflow.com/questions/37595534/how-do-i-load-the-address-dynamically-in-an-embedded-google-map
      </div>
    </div>
    <mat-divider></mat-divider>

  </div>
  <h2 *ngIf="!doctor">Keine Einträge gefunden. Bitte verändern Sie Ihre Eingaben oder begeben Sie sich zur Startseite</h2>

</main>
