:host {
  flex: 1;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

a {
  text-decoration: none;
  color: var(--font-blue);
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 0px;

  img {
    height: 16px;
  }

  &:hover {
    text-decoration: underline;
  }
}

.doctor-all-infos {
  width: 100%;
}

.doctor-header {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.doctor-main-infos {
  position: relative;

  img {
    width: 120px;
    height: 160px;
    object-fit: cover;
    position: absolute;
    left: 20px;
    top: -70px;
    border-radius: 4px;
  }

  div {
    padding-left: 170px;
    padding-bottom: 50px;
  }

  h1 {
    margin: 12px 0px;
  }
}

.opening-hours-box {
  padding-top: 16px;
  display: flex;
}

.adress-box {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

mat-divider {
  margin: 16px 0px 8px 0px !important;
}

iframe {
  width: 450px;
  height: 250px;
}

@media(max-width: 600px) {
  main {
    align-items: center;
  }

  .opening-hours-box,
  .adress-box {
    padding: 0px 8px;
  }

  .adress-box {
    flex-direction: column;
  }

  iframe {
    width: 100%;
    height: 200px;
  }

  .opening-hours-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width: 400px) {

  .doctor-main-infos {
    div {
      padding-left: 130px;
    }

    img {
      width: 100px;
      height: 130px;
      object-fit: cover;
      position: absolute;
      left: 15px;
    }
  }
}
